---
name: {{name}}
menu: {{menu}}
---

import { Playground, Props } from "docz";
import { Component } from './Component.jsx'

## 介绍

作者没有提供介绍。

## 类型

```json
{{{typeDesc}}}
```

## 用法

<Playground>
  <Component></Component>
</Playground>
